main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.question-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.answers button {
  width: 100%;
}

.clicked-correct {
  border: 3px solid rgb(6, 240, 15);
}

.clicked-wrong {
  border: 3px solid red;
}
