footer {
  background-color: black;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

footer p {
  font-weight: 700;
  margin: 10px 0;
}

.group-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 15px 0;
}

.group-links a {
  color: whitesmoke;
  font-weight: 500;
  text-decoration: none;
}

.group-links a:hover {
  transform: scale(1.1);
}
